.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.d-flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 30px;
  min-width: 1200px;
}
